body,h1,h2,h3,p{font-family: 'Noto Sans KR', sans-serif;}


#section01{
    width: 100%;
    height: 100vh;
}
.navbar{
    margin: 0;
}
.white-text{
    color: #fff;
}
.black-text{
    color: #000;
}

.text-title{
    font-weight: bold;
    font-size: 50px;
}

.flex-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 15px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 18px;
    background: #0071e3;
    color: #fff;
}
.margin-30{
    margin: 30px;
}
.padding-10{
    padding: 10px;
}

#section02, #section03{
    width: 100%;
    height: 100vh;
}
.content-img{
    width: 33%;
}
.content-img img{
    width: 100%;
}
.ex-p{
    font-size: 18px;
    line-height: 1.78;
}
@media(max-width:769px){
    #section01,#section02,#section03{
        width: 100%;
        height: auto;
    }
    .sec01-img img{
        width: 100%;
    }
    .content-img{
        width: 100%;
    }
    .content-img img{
        width: 100%;
    }
    .text-box{
        width: 100%;
    }
    .flex-wrap-reverse{
        flex-wrap: wrap-reverse;
    }
    .sec03-box{
        width: 100%;
    }
    .img-comp-img img{
        width: 500px;
        height: auto;
    }
    .text-title{
        margin: 0;
    }

    .sec04-img{
        display: none;
    }
}



/* 박스사이즈 */
* {box-sizing: border-box;}

.img-comp-container {
    position: relative;
    height: 810px; /*should be the same height as the images*/
  }
  
  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
  }
  
  .img-comp-img img {
    display: block;
    vertical-align: middle;
  }
  
  .img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 80px;
    height: 80px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
  }

.sec03-text-box{
    margin-left: 500px;
}

.relative{
    position: relative;
}
.absolute-left{
    position: absolute;
    left: 15%;
    top: 50px;
}
.absolute-right{
    position: absolute;
    left: 15%;
    top: 0
}

@import "lesshat";

.ba-slider {
    position: relative;
    overflow: hidden;
}


/* section03 */
#section03{
    /* background: #000; */
    width: 100%;
    /* height: 100vh; */
}
.section03-txt{
    text-align: center;
    font-family: 'IBMPlexSansKR-Regular';
    padding-top: 2%;
}
.section03-txt h1{
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 3px;
}
.section03-txt p{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
    margin: 1% 0 2%;
}
@import "lesshat";

.ba-slider {
    position: relative;
    overflow: hidden;
}
 
.ba-slider img {
    width: 100%;
    display:block;
}
 
.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}


.handle { /* Thin line seperator */
  position:absolute; 
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;
 
  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}
 
.handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
 
    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;
 
    background: #ffb800; /* @orange */
    border:1px solid #e6a600; /* darken(@orange, 5%) */
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,.3), 
      inset 0 2px 0 rgba(255,255,255,.5),
      inset 0 60px 50px -30px #ffd466; /* lighten(@orange, 20%)*/ 
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
}


/* section04 start */
#section04{
    width: 100%;
    height: 100vh;

}

.sec04-container{
    width: 100%;
    height: 100vh;
    background: url(../images/galaxy-watch-r800-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.move-up-down{
    animation-name: updown;
    animation-duration:1s;
      animation-duration: leaner;
    animation-iteration-count:3;
      animation-direction:alternate;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
}
@keyframes updown{
    0% {
        top:0;
      }
      100% {
        top:30px;
      }
}